
.app-main {
    min-height: 900px;
    color: #1a1a1a;
    background-color:  white;
}

.app-header-bar {
    background-color: #1a1a1a;
}

.app-header-bar .custom-header {
    background-color:transparent;
    padding-top: 6px;
    padding-bottom: 3px;
}

.app-header-bar .custom-header .search-text {
    font-size: 20px;
    padding: 3px 6px 3px 6px;
    border-radius: 18px;
    border-color: transparent;
    background-color: transparent;
}

.post-view {
    min-height: 600px;
}

.post-list {
    background-color: transparent;
}
/* 
.post-list-listbox {
    background-color: transparent;
}
    .post-list-listbox row {
        border-bottom: 1px solid #C4C4C4;
        background-color: transparent;
    }

    .post-list-listbox row:selected {
        background-color: #d4d4d4;
    }
 */
.post-list-item {
    padding: 16px 24px 16px 24px;
}
    

    .post-list-item .subreddit {
        color: #8cd5ff;
        font-weight: bold;
    }

    .post-list-item .posted-by {
        color: #8cd5ff;
        font-weight: bold;
    }

    .post-list-item .post-title,
    .post-list-item .post-title text
    {
        font-size: 18px;
        font-weight: bold;
        padding: 12px 0 12px 0;
        background-color: transparent;
    }

    .post-list-item image.thumbnail {
        box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
        background-color: #333;
    }

    .post-list-item .score {
        font-weight: bold;
    }

    .post-list-item .date-posted {
        color: #7e8087;
        font-weight: bold;
    }

.post-details, 
.post-details .media {
}

.post-details {
    padding: 24px;
}

.post-details-title {
    font-weight: bold;
}

.post-details .post-image {
    box-shadow: 0px 2px 15px 0px #000000;
    margin-top: 50px;
    margin-bottom: 50px;
}