


.app-main {
    min-height: 900px;
}

.app-header-bar {
}

.app-header-bar .custom-header {
    background-color:transparent;
    padding-top: 6px;
    padding-bottom: 3px;
}

.app-header-bar .custom-header .search-text {
    font-size: 20px;
    padding: 3px 6px 3px 6px;
    border-radius: 18px;
    border-color: transparent;
    background-color: transparent;
}

.app-body {
    min-height: 600px;
}

.post-list {
    background-color: transparent;
}

.post-list-listbox {
    background-color: transparent;
    padding: 18px 12px 18px 12px;
}

.post-list-item {
    color: black;
    margin: 6px 0 6px 0;
}

.post-list-item:selected {
    background-color: red;
}

.post-list-item-title {
    font-size: 20px;
    font-weight: bold;
    padding: 1px;
}

.post-details, 
.post-details .media {
    /*background-color: transparent;*/
}
